/* Monospaceland (Pepper Type) - loaded from /assets/fonts/Monospaceland */

/* Regular */
@font-face {
  font-family: 'Monospaceland';
  src: url('./Monospaceland/Monospaceland-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Monospaceland';
  src: url('./Monospaceland/Monospaceland-Oblique.ttf') format('truetype');
  font-weight: 400;
  font-style: oblique;
  font-display: swap;
}

/* Thin (100) */
@font-face {
  font-family: 'Monospaceland';
  src: url('./Monospaceland/Monospaceland-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Monospaceland';
  src: url('./Monospaceland/Monospaceland-ThinOblique.ttf') format('truetype');
  font-weight: 100;
  font-style: oblique;
  font-display: swap;
}

/* ExtraLight (200) */
@font-face {
  font-family: 'Monospaceland';
  src: url('./Monospaceland/Monospaceland-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Monospaceland';
  src: url('./Monospaceland/Monospaceland-ExtraLightOblique.ttf') format('truetype');
  font-weight: 200;
  font-style: oblique;
  font-display: swap;
}

/* Light (300) */
@font-face {
  font-family: 'Monospaceland';
  src: url('./Monospaceland/Monospaceland-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Monospaceland';
  src: url('./Monospaceland/Monospaceland-LightOblique.ttf') format('truetype');
  font-weight: 300;
  font-style: oblique;
  font-display: swap;
}

/* SemiBold (600) */
@font-face {
  font-family: 'Monospaceland';
  src: url('./Monospaceland/Monospaceland-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Monospaceland';
  src: url('./Monospaceland/Monospaceland-SemiBoldOblique.ttf') format('truetype');
  font-weight: 600;
  font-style: oblique;
  font-display: swap;
}

/* Bold (700) */
@font-face {
  font-family: 'Monospaceland';
  src: url('./Monospaceland/Monospaceland-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Monospaceland';
  src: url('./Monospaceland/Monospaceland-BoldOblique.ttf') format('truetype');
  font-weight: 700;
  font-style: oblique;
  font-display: swap;
}

/* ExtraBold (800) */
@font-face {
  font-family: 'Monospaceland';
  src: url('./Monospaceland/Monospaceland-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Monospaceland';
  src: url('./Monospaceland/Monospaceland-ExtraBoldOblique.ttf') format('truetype');
  font-weight: 800;
  font-style: oblique;
  font-display: swap;
}

/* --- Reverse variants as a separate family --- */
@font-face {
  font-family: 'Monospaceland Reverse';
  src: url('./Monospaceland/Monospaceland-Reverse.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Monospaceland Reverse';
  src: url('./Monospaceland/Monospaceland-ThinReverse.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Monospaceland Reverse';
  src: url('./Monospaceland/Monospaceland-ExtLtReverse.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Monospaceland Reverse';
  src: url('./Monospaceland/Monospaceland-LightReverse.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Monospaceland Reverse';
  src: url('./Monospaceland/Monospaceland-SemiBoldReverse.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Monospaceland Reverse';
  src: url('./Monospaceland/Monospaceland-BoldReverse.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Monospaceland Reverse';
  src: url('./Monospaceland/Monospaceland-ExtBdReverse.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-mono: 'Monospaceland', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --font-mono-reverse: 'Monospaceland Reverse', var(--font-mono);
}
