 .page {
  padding: 88px 0 96px;
  font-family: Helvetiker, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial;
}

.container {
  width: calc(100% - 60px);
  margin: 0 auto;
}

.pageHeader {
  margin-bottom: 22px;
}

.pageTitle {
  font-size: 2.2rem;
  font-weight: 900;
  letter-spacing: 0.2px;
}

.pageSubtitle {
  margin-top: 10px;
  opacity: 0.7;
  line-height: 1.4rem;
  max-width: 80ch;
}

