<div *ngIf="isLoading$ | async" class="loading-overlay">
    <div class="loader">{{ progress$ | async | number: '1.0-0' }}%</div>
</div>
<app-header-ribbon></app-header-ribbon>
<main class="stage">
  <section class="stage__left">
    <app-hero-scene></app-hero-scene>
  </section>
  <section class="stage__middle"></section>
  <section class="stage__right">
    <app-right-panel></app-right-panel>
  </section>
</main>
    <!-- <app-sphere></app-sphere> -->

<!-- <ngt-canvas [sceneGraph]="carScene" [camera]="{position: [2,2,2]}"/>
<ngt-canvas [sceneGraph]="scene" [camera]="{position: [0,0,5]}"/>
<ngts-loader /> -->

<router-outlet />
